.raspberry {
	padding: 0;
	position: relative;
	
	
	@include bp($point_2, min) {
		min-height: 112rem;
	}
	
}
.raspberry__in {
	width: 100%;
}
.raspberry__img_w {
	width: 100%;
	height: 90rem;
	display: block;
	object-fit: cover;
	z-index: -1;
}
.raspberry__img {
	@extend %cover_image;
}
.raspberry__coll_w {
	display: flex;
	align-items: center;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	z-index: 4;

	@include bp($point_2, min) {
		width: 140rem;
		top: 75%;
	}

	@include bp($point_3) {
		width: 100%;
		flex-direction: column;
		top: 50%;
	}
}
.raspberry__coll {
	display: flex;
	align-items: center;
	justify-content: center;

	@include bp($point_2, min) {
		height: 38.4rem;
	}

	@include bp($point_3) {
		height: 100%;
	}

	&.raspberry__coll.raspberry__coll--one {
		background-color: $white-color;
		box-shadow: 0px 14px 36px 0px #cccccc40;

		@include bp($point_2, min) {
			border-radius: 3rem 0 0 3rem;
			width: 60%;
			padding: 9.6rem 8.2rem;
		}

		@include bp($point_3) {
			width: 100%;
			padding: 4.8rem 4rem;
			border-radius:  3rem 3rem 0 0;
		}
	}
	&.raspberry__coll.raspberry__coll--two {
		background-color: $white-color_2;

		@include bp($point_2, min) {
			border-radius: 0 3rem 3rem 0;
			width: 40%;
		}

		@include bp($point_3) {
			width: 100%;
			padding: 4.8rem 0;
			border-radius: 0 0 3rem 3rem;
		}
	}
}
.raspberry__info {
	display: flex;
	row-gap: 2rem;
	flex-direction: column;

	@include bp($point_2, min) {
		width: 72.6em;
	}

	@include bp($point_3) {
		width: 100%;
	}
}
.raspberry__title {
	font-weight: 800;
	color: $accent-color;
	
	@include bp($point_2, min) {
		font-size: 7rem;
		line-height: 8.2rem;
	}
	
	@include bp($point_3) {
		font-size: 5rem;
		line-height: 6.2rem;
	}
	
	
}
.raspberry__list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 1.6rem;
}
.raspberry__item {
	display: flex;
	align-items: center;
	width: 29rem;
}
.raspberry__item_title_w {
	width: 12.2rem;
	display: flex;
	align-items: center;
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 3rem;
	color: $accent-color;

	span {
		margin-left: auto;
	}
}
.raspberry__item_subtitle {
	font-family: $font_2;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
	color: $text-color;
	margin-left: 1.2rem;
}
