// colors
$accent-color: #274c5b;
$green-color_accent: #7eb693;
$green-color: #68a47f;
$white-color: #fff;
$black-color: #000;
$text-color: #525c60;
$figure-color: #b8b8b8;
$white-color_1: #f1f1f1;
$white-color_2: #fafafa;
$white-color_3: #f9f8f8;
$gold-color: #efd372;
$orange-color: #ffa858;
$arrow-bg: #335b6b;
$border-color: #e0e0e0;

// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

// fonts
$font_1: 'Roboto';
$font_2: 'Open Sans';
$font_3: 'Yellowtail';
